/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* light grey background */
    color: #333;
}

/* Header Styling */
h1 {
    text-align: center;
    font-size: 36px; /* Adjust the size of the header */
    margin-bottom: 20px; /* Space below the header */
}

/* General Container for Spacing */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

/* Post Section */
.posts {
    margin-top: 30px;
}

.post {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.post-actions {
    margin-top: 10px;
}

/* Form Styling */
.form {
    display: flex;
    flex-direction: column;
}

.input-text, .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 16px;
}

.textarea {
    height: 150px;
}

/* Button Styles */
.btn {
    background-color: #3498DB;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980B9;
}

.btn-delete {
    background-color: #E74C3C;
    color: #FFF;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #C0392B;
}

/* Like Button Styling */
.btn-like {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-right: 10px;
}

.btn-like:hover {
    background-color: #27ae60;
}

/* Mobile Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
